body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font: inherit;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  width: 160px;
  height: 50px;
}

button:hover,
button:focus {
  background-color: #e74246;
}

button:active {
  box-shadow: 0 3px 0px 0px #c53d41 inset;
  color: rgba(255, 255, 255, 0.302);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  overflow: hidden;
}

.main-header {
  min-height: 545px;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.header-catalog {
  min-height: 355px;
  margin: 0;

  background-color: #eeeeee;
}

.logo {
  width: 160px;
  height: 65px;
  margin: 0;

}

.logo:hover {
  opacity: 80%;
}

.logo:active {
  opacity: 30%;
}

.main-navigation {
  display: flex;
  margin: 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: black;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  max-height: 65px;
  margin-top: 49px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  width: 440px;

  justify-content: space-between;
  margin: 0;
}

.user-navigation {
  display: flex;
  max-width: 115px;
}

.site-navigation,
.user-navigation {
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.302);
}

.user-navigation .shopping-bag {
  padding-left: 26px;
  position: relative;
}

.shopping-bag::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 1px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.here-we-go {
  border-bottom: 2px solid #fb565a;
  width: 74px;
}

.services-list {
  display: flex;
  justify-content: flex-start;

  list-style: none;
  padding: 0;
}

.services-list .container {
  display: flex;
}

.services-item {
  margin: 0;
  margin-right: 100px;
}

.services-item img {
  margin: 0;
  margin-bottom: 26px;
}

.services-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 28px;

  font-size: 24px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.services-item p {
  height: 65px;
  width: 300px;

  margin: 0;
  margin-bottom: 10px;
}

.services-button-2 {
  background-color: #00ca74;
}

.services-button-2:focus,
.services-button-2:hover {
  background-color: #00bc6c;
}

.services-button-2:active {
  box-shadow: 0 3px 0px 0px #18a267 inset;
  color: rgba(255, 255, 255, 0.302);
}

.services-button-3 {
  background-color: #efc84a;
}

.services-button-3:focus,
.services-button-3:hover {
  background-color: #eab534;
}

.services-button-3:active {
  box-shadow: 0 3px 0px 0px #d29f32 inset;
  color: rgba(255, 255, 255, 0.302);
}

.container .popup {
  z-index: 5;

}

.popup {
  display: flex;
  justify-content: center;

  background-color: white;
  width: 960px;
  height: 590px;
  box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);

  margin-top: 100px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: black;

  margin: 0;
  margin-bottom: 50px;
}

.form-write-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  margin: 0;
}

.form-write-us .form-item {
  display: flex;
  flex-wrap: wrap;
  width: 360px;

  margin: 0;
  margin-bottom: 35px;
}

.form-item label {
  display: block;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: black;
}

.form-item input{
  box-sizing: border-box;
  width: 360px;

  padding-top: 16px;
  padding-left: 14px;
  padding-bottom: 20px;
  margin: 0;

  font-size: 16px;
  color: rgba(68, 68, 68, 0.502);

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.form-item input:hover {
  color: rgba(68, 68, 68, 0.502);

  border: 2px solid #b4b9bb;
}

.form-item input:focus {
  color: rgb(68, 68, 68);

  border: 2px solid #000000;
}

.form-item input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.form-item-3 label {
  display: block;
  margin-bottom: 13px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: black;
}

.form-item-3 input{
  box-sizing: border-box;
  width: 760px;
  height: 118px;

  padding-top: 13px;
  padding-left: 16px;
  padding-bottom: 88px;
  margin: 0;
  margin-bottom: 47px;

  font-size: 16px;
  color: rgba(68, 68, 68, 0.502);

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.form-item-3 input:hover {
  color: rgba(68, 68, 68, 0.502);

  border: 2px solid #b4b9bb;
}

.form-item-3 input:focus {
  color: rgb(68, 68, 68);

  border: 2px solid #000000;
}

.form-item-3 input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.form-write-us button {
  width: 260px;
  margin: 0;
}

.container .shop {
  display: flex;
  justify-content: center;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.shop {
  margin: 0;
  margin-top: 81px;

  font-size: 55px;
  line-height: 55px;
  color: black;
}

.filters {
  margin-top: 63px;
}

.filters fieldset {
  padding: 0;
}

.filters legend {
  margin: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.filters ul {
  padding: 0;
  padding-left: 35px;
  margin: 0;
  list-style: none;
}

.filter-price {
  margin: 0;
  margin-bottom: 62px;
  padding: 0;

  border: none;
}

.filter-price legend {
  margin: 0;
  margin-bottom: 57 px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font: inherit;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-type {
  order: 1;
  border: none;
  margin-bottom: 51px;
}

.filter-type legend {
  margin-bottom: 22px;
}

.filter-type label {
  position: relative;

  cursor: pointer;
}

.filter-item {
  margin-bottom: 15px;
}

.filter-input-radio + label::before{
  content: "";

  position: absolute;
  left: -35px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-radio:checked + label::before{
  content: "";

  position: absolute;
  left: -35px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.options {
  order: 2;
  margin-bottom: 43px;
  border: none;
}

.options legend {
  margin-bottom: 23px;
}

.options label {
  position: relative;
  cursor: pointer;
}

.option-item {
  margin-bottom: 17px;
}

.filter-input-checkbox + label::before{
  content: "";

  position: absolute;
  left: -35px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before{
  content: "";

  position: absolute;
  left: -35px;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.filters button {
  order: 3;

  font: inherit;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  position: absolute;
  width: 260px;
  height: 50px;
}

.filters button:focus,
.filters button:hover {
  background-color: #dfdfdf;
}

.filters button:active {
  box-shadow: 0 3px 0px 0px #bfbfbf inset;
  color: rgba(0, 0, 0, 0.302);
}

.products ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  justify-content: space-between;

  margin: 0;
  margin-top: 133px;
}

.products li {
  position: relative;
  margin: 0;
  margin-bottom: 33px;
  padding-top: 40px;

  list-style: none;
}

.products-item::before {
    content: "";

    position: absolute;
    top: 0;

    width: 360px;
    height: 40px;

    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 12%;
}

.products-item:hover::before {
    content: "";

    position: absolute;
    top: 0;

    width: 360px;
    height: 40px;

    background-image: url("../img/browser.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 100%;
}

.main-footer {
  background-color: white;
  min-height: 217px;
  margin-top: 1306px;
}

.main-footer .container {
  display: flex;
  align-items: flex-start;
}

.socialmedia-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;

  list-style: none;

  padding: 0;
  margin: 0;
  margin-right: 139px;
}

.socialmedia-list a {
  color: inherit;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: 0 3px 0px 0px #c53d41 inset;
}

.social-button svg:active {
  opacity: 0.3;
}

.footer-tagline {
  display: inline-block;
}

.call-to-action {
  margin: 0;
  margin-bottom: 12px;

  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  color: black;
}

.text-sale p {
  margin: 0;

  line-height: 22px;
  color: #444444
}
