body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: none;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  font: inherit;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  position: absolute;
  width: 160px;
  height: 50px;
}

button:hover,
button:focus {
  background-color: #e74246;
}

button:active {
  box-shadow: 0 3px 0px 0px #c53d41 inset;
  color: rgba(255, 255, 255, 0.302);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  overflow: hidden;
}

.main-header {
  min-height: 545px;
  margin-bottom: 80px;

  background-color: #eeeeee;
}

.header-catalog {
  min-height: 355px;
  margin-bottom: 80px;

  background-color: #eeeeee;
}


.logo {
  width: 160px;
  height: 85px;
  margin-top: 49px;
}

.logo:hover {
  opacity: 80%;
}

.logo:active {
  opacity: 30%;
}

.main-navigation {
  display: flex;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: black;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.site-navigation {
  display: flex;
  width: 440px;
  justify-content: space-between;
}

.site-navigation,
.shopping-bag {
  list-style: none;
}

.site-navigation a,
.shopping-bag a {
  color: black;
}

.site-navigation a:hover,
.site-navigation a:focus,
.shopping-bag a:hover,
.shopping-bag a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.shopping-bag a:active {
  color: rgba(0, 0, 0, 0.302);
}

.here-we-go {
  border-bottom: 2px solid #fb565a;
  width: 74px;
}

.services-list {
  display: flex;
  justify-content: flex-start;

  list-style: none;
}

.services-list .container {
  display: flex;
}

.services-item {
  margin-right: 100px;
}

.services-item img {
  margin-bottom: 26px;
}

.services-item h3 {
  margin-bottom: 28px;

  font-size: 24px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.services-item p {
  width: 240px;
  height: 65px;
  margin-bottom: 10px;
}

.services-button-2 {
  background-color: #00ca74;
}

.services-button-2:focus,
.services-button-2:hover {
  background-color: #00bc6c;
}

.services-button-2:active {
  box-shadow: 0 3px 0px 0px #18a267 inset;
  color: rgba(255, 255, 255, 0.302);
}

.services-button-3 {
  background-color: #efc84a;
}

.services-button-3:focus,
.services-button-3:hover {
  background-color: #eab534;
}

.services-button-3:active {
  box-shadow: 0 3px 0px 0px #d29f32 inset;
  color: rgba(255, 255, 255, 0.302);
}

.popup {
  background-color: white;
}

.popup h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: black;
}

.popup div {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: black;
}

.popup input{
  font-size: 16px;
  color: rgba(68, 68, 68, 0.502);

  background-color: transparent;
  border: 2px solid #d7dcde;
  padding: 10px;
}

.popup input:hover {
  color: rgba(68, 68, 68, 0.502);

  border: 2px solid #b4b9bb;
}

.popup input:focus {
  color: rgb(68, 68, 68);

  border: 2px solid #000000;
}

.popup input:invalid {
  color: #e74246;

  border: 2px solid #e74246;
}

.container .shop {
  display: flex;
  justify-content: center;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.shop {
  margin-top: 81px;

  font-size: 55px;
  line-height: 55px;
  color: black;
}

/*.filters .container {
  display: flex;
  flex-direction: row;
}
*/

.filter-type {
  order: 1;
  border: none;
  margin-bottom: 51px;
}

.filter-type legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.filter-list {
  margin-top: 22px;
  list-style: none;
}

.filter-item {
}

.options {
  order: 2;
  margin-bottom: 43px;
  border: none;
}

.options legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.option-list{
  margin-top: 23px;
  list-style: none;
}

.option-item {

}

.filters button {
  order: 3;

  font: inherit;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
  position: absolute;
  width: 260px;
  height: 50px;
}

.filters button:focus,
.filters button:hover {
  background-color: #dfdfdf;
}

.filters button:active {
  box-shadow: 0 3px 0px 0px #bfbfbf inset;
  color: rgba(0, 0, 0, 0.302);
}

.products ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 760px;
  justify-content: space-between;
}

.products li {
  margin-bottom: 33px;

  list-style: none;
}

.main-footer {
  background-color: white;
  min-height: 217px;
  margin-top: 1306px;
}

.main-footer .container {
  display: flex;
  align-items: baseline;
}

.footer-catalog {
  background-color: white;
  min-height: 217px;
  margin-top: 476px;
}

.footer-catalog .container {
  display: flex;
  align-items: baseline;
}

.socialmedia-list {
  display: flex;
  list-style: none;
  margin-right: 139px;
}

.socialmedia-list a {
  color: inherit;
}

.footer-tagline {

}

.call-to-action {
  margin-bottom: 12px;

  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  color: black;
}

.text-sale p {
  line-height: 22px;
  color: #444444
}
